.hs-form {
    padding: 40px;
    margin: 0;
    border-image: linear-gradient(135deg,#00ad00,#fff 44%) 1;
    border-style: solid;
    border-width: 1px;

    @media (min-width: 782px) {
        margin: 0 40px 0 0;
    }

    @media (min-width: 1240px) {
        margin: 0 40px 0 -40px;
    }
    
	.inputs-list {
		list-style: none;
		padding: 15px 0;
		margin: 0;
	}

	li {
		margin: 0;
	}

	.hs-input[type="checkbox"] {
		margin-top: 8px;
	}

    fieldset:not(:last-child) {
        margin-bottom: 20px;
    }
}