.title-wrapper {
	padding-top: 70px;
	padding-bottom: 60px;
	@media (min-width: 1200px) {
		padding-top: 90px;
		padding-bottom: 70px;
	}
}

// Page Title Style
.is-style-page-title {
	font-weight: 700;
	line-height: 130%;
	font-size: 30px;
	text-align: center;
	@media (min-width: 1200px) {
		font-size: 50px;
	}
}

// Blog Post Style
.is-style-post-title {
	font-weight: 700;
	max-width: 800px;
	line-height: 130%;
	font-size: 30px;
	@media (min-width: 1200px) {
		font-size: 50px;
	}
}

// Case study title - unique, not hooked to Block Editor.
.is-style-case-study-title {
	font-weight: 400;
	max-width: 800px;
	line-height: 150%;
	font-size: 40px;
	color: $white;
	@media (min-width: 1000px) {
		font-size: 60px;
	}
}

// Project single title - unique, not hooked to Block Editor.
.is-style-project-single-title {
	font-weight: 700;
	max-width: 800px;
	line-height: 150%;
	font-size: 40px;
	@media (min-width: 1000px) {
		font-size: 60px;
	}
}

.author-category,
.space-slash,
.parent-link {
	font-weight: 700;
	font-size: 9px;
	line-height: 9px;
	display: inline-block;
	color: $gray-700;
	&.has-larger-style {
		font-size: 12px;
		line-height: 12px;
	}
}

.parent-link {
	&::before {
		background-image: url("data:image/svg+xml,%3Csvg role='img' xmlns='http://www.w3.org/2000/svg' width='48px' height='48px' viewBox='0 0 24 24' aria-labelledby='arrowRightIconTitle' stroke='%23747474' stroke-width='2' stroke-linecap='square' stroke-linejoin='miter' fill='none' color='%23747474'%3E%3Ctitle id='arrowRightIconTitle'%3EArrow Right%3C/title%3E%3Cpath d='M15 18l6-6-6-6'/%3E%3Cpath d='M3 12h17'/%3E%3Cpath stroke-linecap='round' d='M21 12h-1'/%3E%3C/svg%3E");
		background-position: 50%;
		background-repeat: no-repeat;
		background-size: contain;
		content: "";
		display: inline-block;
		line-height: 18px;
		height: 15px;
		margin-right: 6px;
		position: relative;
		vertical-align: middle;
		width: 15px;
		top: -1px;
		transform: rotate(180deg);
	}
}


.parent-link-align {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 40px;
}

.title-wrapper {
	.author-category,
	.space-slash,
	.parent-link {
		line-height: 150%;
		font-size: 14px;
		@media (min-width: 375px) {
			font-size: 15px;
		}
		@media (min-width: 390px) {
			font-size: 16px;
		}
	}
}
