// To Do: Ideally we will create a vendors file in the style of 'detached/'

.wp-block-ub-content-toggle {
    max-width: 800px;
    margin: 0 auto;
}

.wp-block-ub-content-toggle-accordion {
    margin-bottom: 40px;
}

.ub-number-box .ub-number-panel {
    @media (max-width: 599px) {
        &:last-child {
            margin-bottom: 20px;
        }
    }
    @media (max-width: 799px) {
        margin: 0 auto;
        &:last-child {
            margin-top: 60px;
        }
    }
}