// To Do: Ideally we will create a vendors file in the style of 'detached/'

.wp-block-ub-content-toggle {
    max-width: 800px;
    margin: 0 auto;
}

.wp-block-ub-content-toggle-accordion {
    margin-bottom: 40px;
}