.wpem-theme-button, a.wpem-theme-button, button.wpem-theme-button, input.wpem-theme-button {
    background-color: $primary-400 !important;
    text-transform: none !important;
    letter-spacing: .025em !important;
}

.wpem-form-wrapper {
    display: none !important;
}

.wpem-event-listing-header-title {
    display: none !important;
}

.wpem-event-layout-action-wrapper {
    display: none !important;
}